<h1><%= @task.title %></h1>
<p><%= @task.body %></p>
</br>
<%= link_to "Edit your task", edit_list_task_path(@list, @task), class: 'btn btn-success' %>
</br>
</br>
<pre>due in <%= distance_of_time_in_words_to_now(@task.created_at + 7.days) %></pre>
<%= render partial: 'completed/complete', locals: { task: @task } %>
</br>
<% if @task.completed? %>
  <div class="label label-success">
    Completed
  </div>
<% else %>
  <div class="label label-danger">
    Incomplete
  </div>
<% end %>
